* {
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  background-image: url(images/wall2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  background-color: #081b31;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

.choice:hover {
  cursor: pointer;
  background-color: #081b31;
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}

img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: azure;
  border-style: solid;
}

img:hover {
  border: red;
  border-radius: 50%;
  border-style: solid;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#user-score,
#comp-score {
  font-size: 6rem;
  color: #fff;
}

.msg-container {
  margin-top: 5rem;
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 2rem;
}
